<%= stylesheet_link_tag "users" %>
<p id="notice"><%= notice %></p>

<div class="container" id="content">
  <%= render 'users' %> 
</div>

<div class="container">
	<%= link_to 'Nouveau', new_user_path %>
</div>
