<%= stylesheet_link_tag 'welcome' %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center drinkiit-brown">Bienvenue sur Drinkiit</h1>
        <!-- <h4 class="center white-text"><%=@user.fullname %></h2> -->
        <div class="row center">
          <h5 class="header col s12 light">le site de commande en ligne du célèbre club</h5>
        </div>
        <div class="row center">
          <a href="#!" id="btn-connexion" class="btn-large waves-effect waves-light red">commander</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <%= image_tag "background1.jpg" %>     
    </div>
</div>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Des commandes servies en un éclair</h5>

            <p class="light">Rappelez-vous que Drinkiit ne fait aucun ou très peu de bénéfice sur vos achats. Malgré cela, on se motive pour être le plus efficace possible afin de garantir à tous la meilleure expérience possible !</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Une équipe de choc</h5>

            <p class="light">D'années en années une nouvelle équipe, composée principalement de 1As, se forme afin de vous servir tous les midis ! Voyez la composition de la nouvelle équipe <a href="/equipe">ici</a>.</p>
          </div>
        </div>
      </div>

    </div>
  </div>