@import 'materialize';

@font-face{
	font-family: 'Intro';
	src : url('/assets/intro.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	background: image-url('background.jpg');
	background-repeat: repeat;
	/*font-family: 'Roboto Light' !important;*/
	min-height: 20em;
	height: auto;
	/* border : solid 1px blue; */

}

.drinkiit-brown
{
	font-family: 'Intro' !important;
	color: #422918;
}

.drinkiit-logo
{
	margin-left:5%;
	margin-top: -0.5em;
    max-width: 150%;
    max-height: 150%;
    display: block;
}

#placeholder
{
	width: 100%;
	height: 20px;
	position: relative;
	z-index: 998;
}

#placeholder div
{
	width: 100%;
	height: 20px;
	background-color: #F0F0F0;
	opacity:1;
	position: fixed
}


.drinkiit-navbar
{
	/*margin-top: 2%;	*/
	margin-bottom: 2%;	
}
.drinkiit-navbar ul.drinkiit-navbar{
float:none !important;
margin:0 auto;
width:50%;

}
.drinkiit-navbar li a
{	
	font-family: 'Intro' !important;
	color: #422918;
	font-size: inherit;
	text-transform: uppercase;
}

.drinkiit-navbar > nav > div > ul > li > a:hover
{	
	box-shadow: 0px 4px rgb(231,56,52);
	-webkit-transition : 0.2s linear;
	-moz-transition : 0.2s linear;
	-ms-transition : 0.2s linear;
	-o-transition : 0.2s linear;
	transition : 0.2s linear;
}

.drinkiit-navbar li:hover
{
	background-color: rgba(0, 0, 0, 0);
}

.drinkiit-navbar ul
{
	margin-top: 0px;
}

.drinkiit-menu
{
	background-color: #F0F0F0;
}

ul.dropdown-content li a
{
	font-size: 0.9em;
	text-align: center;
	color: #c00;
}

ul.dropdown-content li a:hover
{
	background-color: #F0F0F0;
}

.fixed-width
{
	max-width: 60%;
}

.text-outlined
{
	text-shadow:
   -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

.star-icon
{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.star-icon:hover
{
	background-color: rgba(0,0,0,0);
}

.content
{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.form
{
	padding: 0% 20% 20% 20%;
}

.table-header
{
	border-bottom: 1px solid black;
}

a.disabled {
    pointer-events: none;
}

/* Footer */
