<%= stylesheet_link_tag "categories" %>
<p id="notice"><%= notice %></p>

<div class="container" id="content">
	<%= render 'categories' %>
</div>

<div class="divider red lighten-3"></div>
<div id="meal-container" class="container">
	<%= image_tag "ajax-loader.gif", class:"wait" %>
</div>